--extra-index-url https://download.pytorch.org/whl/cu124

basicsr>=1.4.2
git+https://github.com/avan06/facexlib
gfpgan>=1.3.5
numpy
opencv-python
Pillow
torch==2.5.0+cu124; sys_platform != 'darwin'
torchvision==0.20.0+cu124; sys_platform != 'darwin'
torch==2.5.0; sys_platform == 'darwin'
torchvision==0.20.0; sys_platform == 'darwin'
tqdm
